/* FOOTER (start) */

footer {
   height: 350px;
}

.footer-1 {
   background-color: grey;
   height: 300px;
}

.footer-2 {
   background-color: black;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 13px;
}

/* FOOTER (end) */