/* HEADER (start) */

.header-text-1 {
   position: absolute;
   z-index: 5;
   top: 200px; 
   right: 250px; 
   color: #78593B;
   color: black;
}

.header-text-2 { 
   text-align: center;
}

/* HEADER (end) */


/* SECTION ABOUT (start) */

.about {
   height: 550px;
   width: 100%;
   margin: 0;
}

.about-1 {
   position: relative;
   padding: 0;
}


.about-1-image {
   display: block;
   width: 100%;
   height: 100%;
 }
 
.about-1-filtre {
   position: absolute;
   top: 5%;
   bottom: 5%;
   left: 4%;
   right: 4%;
   height: 90%;
   width: 92%;
   opacity: 0;
   transition: .5s ease;
   background-color: #78593B;
}
 
.about-1:hover .about-1-filtre {
   opacity: 0.8;
}

.about-1:hover .about-1-texte {
   opacity: 1;
}

.about-1-texte {
   font-family: 'Courgette', cursive;
   color: white;
   font-size: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
   opacity: 0;
}

.about-2 { 
   padding: 12% 10%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.about-2 h1 {
   font-size: 30px;
   font-family: 'Courgette', cursive;
   width: 100%;
   color: #1A160F;
}

.about-2 h3 {
   color: #78593B;
   font-size: 15px;
   font-weight: bold;
}

.about-2 p {
   font-size: 15px;
   line-height: 30px;
   margin-top: 20px;
   color: rgb(109, 109, 109);
}

/* SECTION ABOUT (end) */


/* SECTION SERVICES (start) */ 

.resume-services {
   background-color: #78593B;
   background-color: #F8F8FA;
   background-color: #EDEDED;
   padding: 7% 10%;
}

.resume-services h1 {
   font-size: 30px;
   font-family: 'Courgette', cursive;
   width: 100%;
   color: #1A160F;
   text-align: center;
   margin-bottom: 15px;
}

.resume-services h3 {
   color: #78593B;
   font-size: 15px;
   font-weight: bold;
   margin-bottom: 25px;
   text-align: center;
}

.services {
   width: 100%;
   height: 80%;
   margin: 0;
}


.service-1 { 
   display:flex; 
   justify-content: center; 
}

.service-2 {
   width: 100%;
   height: 360px;
   /* border: 2px solid #1A160F; */
   /* border-radius: 10px; */
   /* background-color: #775D39; */
   background-color: white;
   transition: transform .2s;
}

.service-2-1 {
   height: 200px;
   width: 100%;
   float: left;
   position: relative;
   overflow: hidden;
}

.service-2-1-1 {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
}

.service-2-1-1 img {
   width: 100%;
   height: 100%;
   -webkit-transition: 0.4s ease;
   transition: 0.4s ease;
}

.service-2-1:hover .service-2-1-1 img {
   -webkit-transform: scale(1.08);
   transform: scale(1.08);
}

.service-2-2 {
   height: 160px;
   padding: 24px;
   margin-top: 200px;
}

.service-2-2 h1 {
   font-size: 21px;
   color: #1A160F;
   font-family: 'Pacifico', cursive;
}

.service-2-2 p {
   font-family: 'Patrick Hand', cursive;
   font-size: 18px;
   color: rgb(109, 109, 109);
}


/* SECTION SERVICES (end) */



/* SECTION SPONSOR (start) */

/* 
.sponsors {
   width: 100%;
   height: 277px;
   display: flex;
   flex-wrap: wrap;
   background-color: #F8F7FA;
} */

.sponsor {
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0;
   padding: 0 5%;
   height: 200px;
   background-color: #F8F7FA;
}

.sponsor h1 {
   font-size: 25px;
   font-family: 'Courgette', cursive;
   width: 20%;
   color: #1A160F;
   margin: 0;
}

.sponsor img {
   height: 70px;
   transition: transform .2s;
}

.sponsor img:hover {
   transform: scale(1.1);
}

.sponsor-carousel {
   height: 80px !important;
   width: 60% !important;
   display: none;
}

.sponsor-carousel-2 {
   height: 80px !important;
   width: 60% !important;
   display: none;
}

.s-carousel {
   width: 100% !important;
   height: 100% !important;
   padding: 5px 5%;
   text-align: center;
}

.s-carousel a {
   margin: auto 5%;
}



/* SECTION SPONSOR (end) */